#la{
	background-color: black;
	height: 500px;
	width: 250px;
	text-align: center;
}
#sa{
	background-color: blue;
	height: 500px;
	width: 250px;
	text-align: center;
}
#pa{
	background-color: red;
	height: 500px;
	width: 250px;
	text-align: center;
}