#sat{
	border:1px solid black;
	margin:20px;
	height:100%;
	padding:2px;
	background-color: grey;
}
body{
	background-color: rgba(255,99,71,0.8);
}
#header-nav{
	background-color: black;
	border-radius: 0;
	border:0;
	margin: 2px;
}